<h1>Sous</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.text %></td>
    </tr>
  <% end %>
   <%= link_to 'New Blog', new_blog_path %>
   <%= link_to 'New Recipe', new_recipe_path %>
</table>